body {background-color: white;}

.pfo1 {background-color: moccasin;}

.pfo2 {background-color:rosybrown;}

.pfo3 {background-color: chartreuse;}

.pfo4 {background-color: cyan;}

.pfo5 {background-color: darkorchid;}

.pfo6 {background-color: red;}

.pfo7 {background-color: thistle;}

